body {
    background-color: black;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 800px;
    height: 600px;
    background-color: rgb(4, 14, 82);
    display: flex;
    justify-content: center;
    align-items: center;
}

.div{
    width: 390px;
    height: 400px;
    background-color: rgb(210, 114, 19);
    border-radius: 190px 190px 80px 80px;
    position: relative;
    overflow: hidden;
}

.box1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: 20px;
}